@import "tailwindcss";

@font-face {
  font-family: "epoch";
  src: url("./assets/Fonts/Epoch-BF6881cf42e6637.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "anke";
  src: url("./assets/Fonts/anke.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "epoch", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2, h4, p, button, input {
  font-family: "anke", "sans-serif";
}

/* Animación de Shop (sube y hace fade-in) */
@keyframes slideUpFade {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.shop-container {
  position: fixed;
  inset: 0;
  overflow: auto;
  animation: slideUpFade 2s ease-out forwards;
}
