@import "tailwindcss";

@font-face {
  font-family: "epoch";
  src: url("./assets/Fonts/Epoch-BF6881cf42e6637.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "epoch", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Animación de Shop (sube y hace fade-in) */
@keyframes slideUpFade {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.shop-container {
  position: fixed;
  inset: 0;
  overflow: auto;
  animation: slideUpFade 2s ease-out forwards;
}

/* Animación de Categories */
@keyframes slideFadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideFadeDown {
  animation: slideFadeDown 0.4s ease-out forwards;
}